@import '../../variables';

.PasswordRecoverConfirmationLayout {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10% 20%;
}

.PasswordRecoverConfirmationContent {
    text-align: center;
}

.PasswordRecoverConfirmationLogo {
    height: 9rem;
}

.separador {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    opacity: 90%;
}

.PasswordRecoverConfirmationSpan {
    font-size: $span-font-size;
    color: white;
    text-align: justify;
    margin-top: 10%;
    margin-bottom: 1%;
    display: flex;
}

.sendButton {
    margin-top: 10%;
    height: 3.5rem;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-family: $font-family;
    font-weight: 700;
    border: none;
    background: radial-gradient(circle,
            rgba(206, 93, 217, 1) 30%,
            rgba(123, 120, 247, 1) 100%);
    color: white;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.5s;
}

.sendButton:hover {
    transform: scale(1.05);
}