$cor-primaria: #3d3b4a;
$background-color: #2d2c33;
$green: #41c513;
$yellow: #c1c513;
$red: #c51313;
$purple: rgba(85, 64, 218, 1);
$pink: rgba(206, 93, 217, 1);

// textos
$font-family: Montserrat;
$title-font-size: 2rem;
$second-title-font-size: 1.5rem;
$span-font-size: 1.2rem;
$gray-text: #b8b8b9;