@import '../../variables';

.NewProfileLayout {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: $cor-primaria;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
}

.formError{
    color: red;
}

.NewProfileContainer {
    width: 50%;
}

.BackButtonNewProfile {
    cursor: pointer;
    font-size: 3rem;
    color: $gray-text;
    position: absolute;
    opacity: 40%;
    top: 10%;
    left: 11%;
    align-items: center;
    display: flex;
    z-index: 1;
}

.BackButtonNewProfile span {
    font-size: $span-font-size;
}

.BackButtonNewProfile:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.NewProfileLogo {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 9rem;
    margin: auto;
    margin-left: 20%;
}

.Columns {
    display: flex;
}

.ColumnLeft {
    width: 45%;
    margin: auto;
    margin: 5%;
}

.Separator {
    background-color: white;
    height: 25rem;
    width: 2px;
    border-radius: 10px;
    opacity: 90%;
}

.ColumnRight {
    width: 45%;
    margin: 5%;
}

.ColumnRight input {
    margin-bottom: 10%;
}

.NewProfileInput {
    height: 3rem;
    width: 96%;
    border-radius: 10px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 16px;
    color: black;
    border: none;
    transition: transform 0.5s;
    display: flex;
    position: relative;
    padding-left: 1rem;
}

.NewProfileInput:hover {
    transform: scale(1.05);
}

.InputLabelNewProfile {
    font-family: $font-family;
    color: #fff;
    font-weight: 500;
    font-size: $span-font-size;
    margin-top: 1rem;
}

.NewProfilePicContainer {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 25%;
    margin-left: 25%;
}

.NewProfileprofilePicFrame:hover {
    transform: scale(1.05);
}

.NewProfileprofilePicFrame {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: $background-color;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s;
}

.NewProfileprofilePic {
    width: 100%;
    height: auto;
    display: block;
}

.profileIcon {
    bottom: 0;
    right: 0;
    border-radius: 50%;
    padding: 5px;
    opacity: 10%;
    color: white;
    font-size: 2rem;
}

.newProfileButton {
    margin: auto;
    margin-left: 25%;
    margin-top: 1.5rem;
    height: 3rem;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    font-family: $font-family;
    font-weight: 700;
    border: none;
    background: radial-gradient(circle,
            rgba(206, 93, 217, 1) 30%, rgba(123, 120, 247, 1) 100%);
    color: white;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.5s;
}

.imgProfile{
    display: flex;
    width: 100%;
    height: 100%;
}

.newProfileButton:hover {
    transform: scale(1.05);
}

//modal
.NewProfileModal {
    .modal-open {
        overflow: hidden;
    }

    .modal {
        background-color: #2D2C33;
        display: none;
        position: fixed;
        z-index: 1;
        left: 7%;
        top: 5%;
        width: 100%;
        height: 100%;
        color: white;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }

    .modal-content {
        background-color: $cor-primaria;
        margin: 15% auto;
        padding: 1%;
        width: 80%;
        max-width: 400px;
        border-radius: 10px;
        box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    .modal-content-container {
        margin: 2%;
        display: block;
    }

    .modal-title {
        margin: 0;
    }

    .file-input {
        display: block;
        margin-top: 3%;
        font-size: 16px;
        color: white;
        transition: border-color 0.3s ease;
        border: none;
        width: 100%;

        &:focus {
            outline: none;
        }

        &::file-selector-button {
            border: none;
            background: none;
            color: white;
            font-weight: bold;
            cursor: pointer;
            padding: 2%;

            border: 2px solid transparent;
            border-radius: 10px;
            border-image: radial-gradient(circle, rgba(123, 120, 247, 1) 30%, rgba(206, 93, 217, 1) 100%);
            border-image-slice: 1;
        }
    }

    .SendButton {
        margin-top: 3%;
        height: 2rem;
        width: 25%;
        border-radius: 10px;
        text-align: center;
        font-family: $font-family;
        font-weight: 700;
        border: none;
        background: radial-gradient(circle,
                rgba(123, 120, 247, 1) 30%,
                rgba(206, 93, 217, 1) 100%);
        color: white;
        font-weight: 700;
        font-size: 17px;
        cursor: pointer;
    }

    .close {
        font-size: 28px;
        font-weight: bold;
        float: right;
    }

    .close:hover,
    .close:focus {
        opacity: 50%;
        text-decoration: none;
        cursor: pointer;
    }

    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    @keyframes fadeout {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}