@import '../../variables';

.AutenticationLayout {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: $background-color;
    justify-content: center;
    align-items: center;
}

.AutenticationContainer {
    flex: 1;
}