@import '../../variables';

.ChallengeCardContainer {
    margin: 1%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font-family;
}

.ChallengeCard {
    transition: transform 0.5s;
    width: 33rem;
}

.Card {
    background-color: #131417;
    border-radius: 20px;
    box-shadow: 0px 7px 4px #00000040;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    height: 20rem;
}

.ChallengeCardContainer.hovered .ChallengeCard,
.ChallengeCardContainer.hovered .Card {
    transform: scale(1.02);
}

.Card .ChallengeNumber {
    color: $gray-text;
    margin-right: 1rem;
    position: absolute;
    top: 15px;
    right: 15px;
}

.CardInfoContainer {
    padding: 9%;
    padding-bottom: 0;
    display: flex;
    text-align: left;
}

.CardSideColor {
    background-color: $green;
    height: 8rem;
    width: 0.5rem;
}

.CardTitle h2 {
    color: white;
    margin: 0;
    margin-left: 1rem;
    font-size: $second-title-font-size;
}

.Card {
    height: 18rem;
}

.CardTitle span {
    font-size: small;
    color: $gray-text;
    text-align: justify;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 2rem;
    display: inline-block;
    overflow: scroll;
    overflow-x: hidden;
    height: 5rem;
    width: 100%;
    padding-right: 10px;
}

.CardTitle span::-webkit-scrollbar {
    
    width: 6px; /* Largura da barra de rolagem */
}



.CardTitle span::-webkit-scrollbar-track {
    
    background: transparent; /* Fundo transparente para o trilho da barra de rolagem */
}

.CardTitle span::-webkit-scrollbar-thumb {
    
    background-color: #a9a9a9; /* Cor cinza para a barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 2px solid transparent; /* Espaço ao redor do polegar da barra de rolagem */
    background-clip: content-box; /* Ajuste do espaço para borda arredondada */
}

.hide-scroll-buttons::-webkit-scrollbar-button {
    display: none;
}

.CardTitle span::-webkit-scrollbar-button:vertical:decrement {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="gray" d="M7 14l5-5 5 5z"/></svg>') no-repeat center center;
}

.CardTitle span::-webkit-scrollbar-button:vertical:increment {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5z"/></svg>') no-repeat center center;
}

.deleteIcon{
    cursor: pointer;
    transition: transform 0.5s;
}

.deleteIcon:hover{
    transform: scale(1.15);
}

.deleteDiv{
    margin-top: 9.6rem;
    margin-left: 6rem;
}

.ChallengeButton {
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 4%;
    height: 3rem;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-family: $font-family;
    background-color: $green; 
    color: white;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    border-color: none;
}

.green {
    background-color: $green;
}

.yellow {
    background-color: $yellow;
}

.red {
    background-color: $red;
}

@media screen and (min-width: 1560px) {
    .CardTitle span {
        font-size: medium;
    }
}
