.areadesafio {
    position: relative;
    width: calc(100% - 2rem); 
    height: calc((100vh - 3.3rem));
    background-color: #747185; 
    background-image: url('images/textura.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 13px;
    padding: 1rem;
}

#ondeOCSSVaiSerAplicado {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 100%;
    width: 100%; 
}

.quadrado {
    width: 8rem;
    height: 8rem;
    margin: 10px; 
    z-index: 2;
    background-image: url('images/caixa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s;
}

.quadrado:hover {
    transform: scale(1.05);
}

.areafantasma .objetivo2 {
    width: 8rem;
    height: 8rem;
    margin: 10px;
    background-color: rgba(255, 0, 0, 0.295);
}

.objetivo2:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
}

.areafantasma {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    display: flex;
    justify-content: space-between; 
    align-items:end;
    flex-direction: column;
    padding: 1rem;
}

