@import '../../variables';

.Challenges {
    background-color: #2D2C33;
    height: 100%;
}

.Easy {
    display: flex;
    flex-wrap: wrap;
}

.Medium {
    display: flex;
    flex-wrap: wrap;
}

.Hard {
    display: flex;
    flex-wrap: wrap;
}